* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora" , sans-serif;
}


/* ========================================================================================================================= */

a {
    text-decoration: none;
}

.container  {
    max-width: 1200px;
    padding-inline: 15px;
    margin: 0 auto;
}

.btn {
    background: #2E80CE;
    border-radius: 100rem;
    color: #fff;
    cursor: pointer;
    border: none;
    font-family: "Sora", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.heading2 {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
    color: #10375C;
}

.heading3{
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
}

.desc {
    max-width: 468px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
    color: #575F66;
    margin-top: 18px;
}

.desc__item {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* ========================================================================================================================= */

.header {
    background: #10375C;
    position: sticky;
    top: -20px;
    z-index: 10;
}

.header__container {
    display: flex;
    align-items: center;
    padding-block: 30px 10px;
}

.header__logo {
    margin-right: 26.3%;
}

.header__nav {
    margin-right: auto
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 22px;
}

.header__link {
    color: #C9D2DA;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.75;
    padding: 10px;
}

.header__link:hover {
    text-shadow: 0.5px 0 0 #ffffff;
    color: #FFFFFF;
    position: relative;
}

.header__link:hover::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: -4px;
    transform: translateY(-50%);
}

.header__login {
    color: #C9D2DA;
    font-weight: 300;
    line-height: 1.75;
    background: none;
    margin-right: 28px;
}

.header__singup {
    padding: 8px 20px;
    line-height: 1.75;
    font-size: 1.6rem;
}
/* ========================================================================================================================= */

.hero {
    background: #10375C;
}

.hero__container {
    padding-block: 66px 110px;
    display: flex;
    align-items: center;
}

.hero__left {
    max-width: 44.1%;
    flex-direction: column;
}

.hero__title {
    color: #FFFFFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
}

.hero__contact {
    margin-top: 38px;
    display: flex;
    gap: 38px;
    align-items: center;  
}

.hero__btn {
    padding: 15px 46px;
}

.hero__phonenumber {
    background: none;
}

.hero__right {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    background: lightgray 50% / cover no-repeat;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
    margin: -6px;
}
/* ========================================================================================================================= */

.services__container {
    padding-block: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__desc {
    text-align: center;
}

.services__content {
    display: flex;
    align-items: center;
    margin-top: 70px;
    width: 100%;
    flex-grow: 1;
    justify-content: space-between;
}

.services__left {
    width: 570px;
    aspect-ratio: 1;
    border-radius: 12px;
    background: lightgray 0px -1.3px / 100% 149.93% no-repeat;
}

.services__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.services__right {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.services__item {
    display: flex;
    align-items: start;
    gap: 19px;
    padding: 21px 18px 20px 22px;
    transition: all 0.2s linear;
}

.services__item:hover {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.services__item__left {
    width: 60px;
    aspect-ratio: 1;
    background: #EFF6FD;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s linear;
}

.services__item:hover .services__item__left {
    background: #2E80CE;
    [fill="#10375C"] {
        fill: white;
    }
}

.services__item__desc {
    margin-top: 8px;
    max-width: 351px;
}

.services__btn {
    margin-top: 55px;
    padding: 15px 49px;
}

/* ========================================================================================================================= */

.workflow {
    background: #F6FBFF;
    padding-block: 100px;
}

.workflow__container {
    display: flex;
    flex-direction: column;
    align-content: start;
}

.workflow__list {
    display: flex;
    align-items: center;
    margin-top: 86px;
    gap: 30px;
}

.workflow__item {
    --bo: #EAF6FF;
    padding: 43px 42px;
    border: 16px solid var(--bo);
    border-radius: 4px;
    flex: 1;
}

.workflow__item:hover {
    --bo: #2E80CE;
    position: relative;
    top: -16px;
}

.workflow__item__img {
    width: 72px;
    aspect-ratio: 1;
}

.workflow__item__title {
    margin-top: 18px;
    font-size: 2.6rem;
    line-height: 1.38;
}

.workflow__item__desc {
    margin-top: 28px;
}

.workflow__link {
    display: inline-block;
    margin-top: 18px;
    color: #575F66;
    line-height: 1.75;
    font-weight: 300;
}

.workflow__item:hover .workflow__link {
    color: #2E80CE;
    font-weight: 400;
}


/* ========================================================================================================================= */